/* Three image containers (use 25% for four, and 50% for two, etc) */
.category-column {
    float: left;
    width: 14%;
    padding: 1px;
  }
  
  /* Clear floats after image containers */
  .category-row::after {
    content: "";
    clear: both;
    display: table;
  }
  .category-image{
      border-radius: 50%;
  }
  
  .category-figcaption{
    padding: 30px;
    font-size: medium;
    font-weight: bold;
  }
  @media screen and (max-width: 500px) {
    .category-column {
      width: 100%;
    }
  }