{% extends 'base.html' %}
{% block content %}
       
     <div class="about-container">
         <h1>WHO WE ARE</h1>
         <hr class = "hr-style">
         Welcome to Buybes, your number one source for all things. Founded in [year] by [founder name], Buybes has come a long way from its beginnings in [starting location]. When [founder name] first started out, [his/her/their] passion for [brand message - e.g. "eco-friendly cleaning products"] drove them to [action: quit day job, do tons of research, etc.] so that Buybes can offer you [competitive differentiator - e.g. "the world's most advanced toothbrush"]. 
         <br> <br> <br> <br> <br>
         <h1>WHAT WE DO</h1>
         <hr class = "hr-style">
         We're dedicated to giving you the very best of products, with a focus on quality, authenticity and experience. We now serve customers all over [place - town, country, the world], and are thrilled that we're able to turn our passion into [my/our] own website.


         <br> <br> <br> <br> <br>
         <h1>OUR MISSION</h1>
         <hr class = "hr-style">

         
         [I/we] hope you enjoy [my/our] products as much as [I/we] enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact [me/us].
         <br>
        
         
     </div>


     
{% endblock content %}