{% extends 'base.html' %}



{% block content %}
<!-- Show category links -->
<h1 class = "heading"> SHOP BY CATEGORY</h1>
      <div style="padding: 70px;">
        <div class="category-row">
          {% for item in categories %}
          <div class="category-column">
            <a href="{{ item.get_absolute_url }}"><img src="{{item.category_img.url}}" alt="{{item.category_name}}" style="height: 120px;width:fit-content" class = "category-image"></a>
            <figcaption class ="category-figcaption">{{item.category_name}}</figcaption>
          </div>
          {% endfor %}

        </div>
      </div>
          
          


    
       <!-- Show product cards -->
<h1 class = "heading">{% if category %}{{category.category_name}} {% else %} AVAILABLE NOW {% endif %}</h1>
<div style="padding: 70px;">

    <div class="row">
      {% for product in products  %}
      <div class="column">
        <div class="card">
          <img src="{{product.product_img.url}}" alt="Picture" style ="height :200px; width:fit-content;">
          <h3>{{product.product_name}}</h3>

          <p>{{product.product_desc}}</p>
          <p><button>Add to Cart <i class="fas fa-shopping-cart"></i></button></p>
        </div>
      </div>
      {% endfor %}
        
    </div>
  </div>
    
{% endblock %}    
    
        
