{% extends 'base.html' %}



{% block content %}
<!-- Show category links -->
<h1 class = "heading"> SHOP BY CATEGORY</h1>
      <div style="padding: 70px;">
        <div class="category-row">
<!-- Looping through the context variable to get all the categories-->
          {% for item in categories %}
          <div class="category-column">
            <a href="{{ item.get_absolute_url }}"><img src="{{item.category_img.url}}" alt="{{item.category_name}}" style="height: 120px;width:fit-content" class = "category-image"></a>
            <figcaption class ="category-figcaption">{{item.category_name}}</figcaption>
          </div>
          {% endfor %}

        </div>
      </div>
          
          


    
       <!-- Show product cards -->
<h1 class = "heading"> AVAILABLE NOW </h1>
<div style="padding: 70px;">

    <div class="row">
<!-- Looping through the context variable to get all the products-->
      {% for product in products  %}
      <div class="column">
        <div class="card">
          <a href="{{product.get_product_url}}" target="_blank"><img src="{{product.product_img.url}}" alt="{{product.product_name}}" style ="height :200px; width:fit-content;"></a>
          <h3>{{product.product_name}}</h3>

          <p class="price">${{product.price}}</p>
          <p><button>View Product</button></p>
        </div>
      </div>
      {% endfor %}
        
    </div>
  </div>

  
  
  
              <!-- Pagination -->
        <div class="pagination">
    <!-- Navigate to first and previous pages-->
       {% if products.has_previous %}
         <a href="?page=1">First</a>
      <!--Adjust link to previous page-->
         <a href="?page={{products.previous_page_number}}">&laquo; Previous</a>
       {% endif %}
      <!-- Show current page number--> 
       Page {{products.number}} 

      <!-- Navigate to next pages if any -->
       {% if products.has_next %}
          <a href="?page={{products.next_page_number}}">&raquo; Next</a>
          <a href="?page={{products.p.num_pages}}">Last</a>
       {% endif %}
       <br>
       <br>

     
    
{% endblock %}    
    
        
