{% extends 'navbar.html' %}
{% block content %}

<!-- Single Product Detail -->
<div class ="product-detail" style="margin:70px; border: 1px solid #ddd; ">
    <img src="{{single_product.product_img.url}}" alt="{{single_product.product_name}}" >
    <div style="padding: 90px;">
        <h2>{{single_product.product_name}}</h2>
        <p><b><small>$</small>{{single_product.price}}</b> <br><br>
        <b>Description :</b> <br> {{single_product.product_desc}}</p>
        <br> <br>
        <button style="width:100%">Add to Cart <i class="fas fa-shopping-cart"></i></button>

    </div>
    
       
    </div>
    

{% endblock %}